<div class="container">
  <div class="row">
    <div class="col 16 s12">
      <h5 class="white-text">Show Angular 2 some ❤ on
        <a href="https://github.com/angular/angular" target="_blank">GitHub</a></h5>
      <p class="grey-text text-lighten-4">we are fearless, ruthless and honest in all our projects => progress</p>
    </div>
    <div class="col 14 offset-12 s12">
      <h5 class="white-text">Date: 23.11.2016 Good News: The family is moving forwards, like the indians say on a beautiful day: today is a good
        day to die</h5>
      <ul>
        <li><a class="grey-text text-lighten-3" href="https://nodejs.org/en/" target="_blank">NodeJS is on version 7.2.0 the nodejs team is driven</a></li>
        <li><a class="grey-text text-lighten-3" href="https://chromium.googlesource.com/v8/v8.git" target="_blank">V8 is on version 5.7.51 the chromium team is driven</a></li>
        <li><a class="grey-text text-lighten-3" href="https://github.com/angular/angular" target="_blank">Angular 2 is on version 2.3.0-beta.1 the angular team is driven</a></li>
        <li><a class="grey-text text-lighten-3" href="https://github.com/angular/angular-cli" target="_blank">Angular CLI is on version 1.0.0-beta.21 the angular cli team is driven</a></li>
        <li><a class="grey-text text-lighten-3" href="https://github.com/libuv/libuv" target="_blank">Libuv is on version 1.10.1 the libuv team is driven</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    built with ❤ Nils-Holger Nägele just for fun we are on our way to getting it done ... 
    news data powered by <a href="https://newsapi.org/">NewsAPI.org</a>
  </div>
</div>